@model JavascriptLibrary.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cUserCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cUserCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cUserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cUserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cUserSex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cUserSex)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Role.cRoleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role.cRoleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cUserPwd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cUserPwd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cUserBirthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cUserBirthday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cUserSayword)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cUserSayword)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cUserFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cUserFlag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dCreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dCreateDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
