@model JavascriptLibrary.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.cUserCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cUserCode)
            @Html.ValidationMessageFor(model => model.cUserCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cUserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cUserName)
            @Html.ValidationMessageFor(model => model.cUserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cUserSex)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cUserSex)
            @Html.ValidationMessageFor(model => model.cUserSex)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cUserRole, "Role")
        </div>
        <div class="editor-field">
            @Html.DropDownList("cUserRole", String.Empty)
            @Html.ValidationMessageFor(model => model.cUserRole)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cUserPwd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cUserPwd)
            @Html.ValidationMessageFor(model => model.cUserPwd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cUserBirthday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cUserBirthday)
            @Html.ValidationMessageFor(model => model.cUserBirthday)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cUserSayword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cUserSayword)
            @Html.ValidationMessageFor(model => model.cUserSayword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cUserFlag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cUserFlag)
            @Html.ValidationMessageFor(model => model.cUserFlag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dCreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dCreateDate)
            @Html.ValidationMessageFor(model => model.dCreateDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
